# Język R
## Postawowe informacje
Język programowania oraz implementujący go system R jest środowiskiem do statystycznej analizy danych. Umożliwia pracę interaktywną i skryptową.
 
Instalacja na Ubuntu:

```apt-get install r-base```

Jak dodać kernel R do Jupitera:

https://datatofish.com/r-tutorials/

Linki:
 - Strona główna projektu R: http://www.r-project.org/
 - Quick R: http://www.statmethods.net/
 - RStudio: https://www.rstudio.com/
 - R for Data Science: https://r4ds.had.co.nz/
 - R Packages (zaawansowana): https://r-pkgs.org/
 - ggplot2: https://ggplot2-book.org/

## Interaktywna praca z systemem

Jest kilka możliwości:

 - Uruchamiamy RStudio, które zawiera zintegrowane środowisko do analizy danych w języku R
 - Można też uruchomić konsolę R bezpośrednio poleceniem R
 - W Jupyter tworzymy nowy notatnik z kernelem R

### Instalacja pakietów

`tidyverse` to zbiór kilku użytecznych pakietów, m.in. `dplyr` i `ggplot`. Więcej na https://www.tidyverse.org/packages/

Na  https://jupyter.lab.ii.agh.edu.pl/ pakiet jest już zainstalowany.

In [1]:
#install.packages('tidyverse')
#albo dla Anacondy anaconda.org/r/r-tidyverse
#w terminalu conda install -c r r-tidyverse

In [2]:
# pokazuje też ewentualne "przykrycia"
library("tidyverse")

Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang
Registered S3 method overwritten by 'rvest':
  method            from
  read_xml.response xml2
-- Attaching packages --------------------------------------- tidyverse 1.2.1 --
<U+221A> ggplot2 3.1.1       <U+221A> purrr   0.3.2
<U+221A> tibble  2.1.1       <U+221A> dplyr   0.8.0.1
<U+221A> tidyr   0.8.3       <U+221A> stringr 1.4.0
<U+221A> readr   1.3.1       <U+221A> forcats 0.4.0
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

### R

Wbudowana pomoc:

In [3]:
help()

In [4]:
help(plot)

bieżący katalog

In [5]:
getwd()

[1] "C:/Users/kzaja/mownit24/mownit/sandbox"

zmiana katalogu bieżącego
```
setwd("~")
```

#### Proste obliczenia

In [6]:
2+2

[1] 4

Przypisanie 

więcej o rodzajach przypisania: http://stat.ethz.ch/R-manual/R-patched/library/base/html/assignOps.html

In [7]:
a <- 2 # najczęściej stosowane

In [8]:
a = 2

Działanie:

In [9]:
a * 2

[1] 4

#### Wektory

Tworzenie wektorów - funkcja `c()`

In [10]:
x <- c(1,2,3,4)
z <- x*2
z

[1] 2 4 6 8

In [11]:
y <- 2*(1:4)
x+y

[1]  3  6  9 12

Funkcje

In [12]:
seq(1, 10, 2)

[1] 1 3 5 7 9

In [13]:
x <- seq(1, 10)

In [14]:
sum(x)

[1] 55

In [15]:
sqrt(x)

 [1] 1.000000 1.414214 1.732051 2.000000 2.236068 2.449490 2.645751 2.828427
 [9] 3.000000 3.162278

## Import i przekształcanie danych

R umożliwia wczytywanie danych z baz danych i plików w różnych formatach.

Przykład: import z pliku CSV.

Do importu służy funkcja `read.csv`

Przykładowy plik: [data1.txt](https://www.icsr.agh.edu.pl/~malawski/dydakt/mownit/R/data1.txt)

Kolumny `t1` i `t2` zawierają wyniki "pomiarów" czasu dla 2 "algorytmów".

In [16]:
results = read.csv("data1.txt")

Zaimportowane dane są w postaci tabeli (data frame).

In [17]:
results

   n  t1   t2
1   1  1.1  2.3
2   2  2.0  4.1
3   3  2.8  6.0
4   4  4.2  8.2
5   5  5.1  9.9
6   6  5.9 12.1
7   7  6.7 14.1
8   8  8.0 15.9
9   9  9.1 18.1
10 10 10.1 19.9

In [18]:
print(results)

    n   t1   t2
1   1  1.1  2.3
2   2  2.0  4.1
3   3  2.8  6.0
4   4  4.2  8.2
5   5  5.1  9.9
6   6  5.9 12.1
7   7  6.7 14.1
8   8  8.0 15.9
9   9  9.1 18.1
10 10 10.1 19.9

Pobranie kolumny (data frame):

In [19]:
results[1]

   n
1   1
2   2
3   3
4   4
5   5
6   6
7   7
8   8
9   9
10 10

Pobranie kolumny jako wektor:

In [20]:
results[[1]]

 [1]  1  2  3  4  5  6  7  8  9 10

pobranie kolumny po nazwie:

In [21]:
results["t1"]

   t1
1   1.1
2   2.0
3   2.8
4   4.2
5   5.1
6   5.9
7   6.7
8   8.0
9   9.1
10 10.1

Pobranie wiersza lub wierszy:

In [22]:
results[2,] # drugi wiersz, wszystkie kolumny

  n t1 t2
2 2 2  4.1

In [23]:
results[c(2,4,6),]

  n t1  t2
2 2 2.0  4.1
4 4 4.2  8.2
6 6 5.9 12.1

`attach` (dodanie tabeli do kontekstu) pozwala na pojedyncze odwołania do kolumn (jako wektorów) bez odwoływania sie do calej tabeli:

In [24]:
attach(results)

t1

 [1]  1.1  2.0  2.8  4.2  5.1  5.9  6.7  8.0  9.1 10.1

In [25]:
t2

 [1]  2.3  4.1  6.0  8.2  9.9 12.1 14.1 15.9 18.1 19.9

In [26]:
n

 [1]  1  2  3  4  5  6  7  8  9 10

In [27]:
detach(results)

In [28]:
# generuje blad 
t1

ERROR: Error in eval(expr, envir, enclos): nie znaleziono obiektu 't1'

### Wczytywanie w tidyverse

W tidyverse dane wczytywane są do `tibble` - "ulepszony" data.frame

In [ ]:
# proszę zwrócić uwagę na _ zamiast .
results2 = read_csv("data1.txt")

In [ ]:
results2
# to samo co data.frame

In [ ]:
print(results2)
# zawiera rozmiar i informacje o typach

## Rysowanie wykresów

In [ ]:
results

In [ ]:
a <- ggplot(results, aes(x=n, y=t2)) + geom_point()
a
# nie używamy "" w aes!

In [ ]:
a + geom_line()
# nie podano nic do geom_line więc wykorzystano argumenty do ggplot(...)

In [ ]:
last_plot() + geom_line(aes(x=n, y=t1))
# tutaj podano inny aes, ale dalej odnosimy się do "results"

## Przykład analizy danych w czystym R

Przetwarzanie danych w tabeli

Dane w pliku [data2.txt](https://www.icsr.agh.edu.pl/~malawski/dydakt/mownit/R/data2.txt) mają postać tabeli faktów, w której wiersze są wynikami pomiarów. 

Przykładowo, zmierzono czas (time) dla różnych algorytmów (t1, t2).

Kolumna `alg` jest typu `factor` - jest to typ wyliczeniowy w R.

In [ ]:
results <- read.csv("data2.txt")

results

Dodanie nowej kolumny:

In [ ]:
results$speed <- results$n / results$time

results

Grupowanie (agregacja)

Przyklad: zastosowanie funkcji FUN (tutaj: mean czyli obliczającej średnią) do wszystkich wartosci time dla takich samych n i alg:

In [ ]:
avg_results <- aggregate(time ~ n:alg, data=results, FUN=mean)

avg_results

Dołączenie kolumny z obliczonym odchyleniem standardowym (sd) do tabeli:

In [ ]:
avg_results$sd <- aggregate(time ~ n:alg, data=results, FUN=sd)$time

In [ ]:
avg_results

Agregacja kilku wielkości:

In [ ]:
avg_results <- aggregate(cbind(time,speed) ~ n:alg, data=results, FUN=mean)

In [ ]:
avg_results

Filtrowanie danych:

In [ ]:
avg_results$alg=="t1"

In [ ]:
avg_results[avg_results$alg=="t1",]

Rysowanie wykresów.

Wykres time w funkcji n:

In [ ]:
ggplot(avg_results, aes(n,time)) + geom_point()

Przykład skryptu rysującego wykres.

In [ ]:
results <- read.csv("data2.txt")
results$speed <- results$n / results$time
avg_results <- aggregate( cbind(time,speed) ~ n:alg, data=results, FUN=mean) 
ggplot(avg_results, aes(n,time,color=alg)) + geom_point() + ylab("Computing time in seconds")

Możemy też uruchomić kod tworzący wykres z osobnego pliku

In [ ]:
source("data2_plot.R")

w bashu za pomoca polecenia:

```Rscript data2_plot.R```

W wyniku powstaje plik [myplot.png](myplot.png)

### Powyższy przykład z wykorzystaniem tidyverse

In [ ]:
results <- read_csv("data2.txt")

Operator `%>%` pozwala przekazywać wyjście z jednej funkcji jako wejście kolejnej, co pozwala na tworzenie łańcucha wywołań funkcji (analogiczne do '|' w bashu).

In [ ]:
avg_dplyr <- results %>% 
    mutate(speed = n/time) %>% # tylko aby pokazać mutate, nie wykorzystujemy do plota
    group_by(n, alg) %>%
    summarise(
        time_sd = sd(time),
        time = mean(time),
        speed = mean(speed)
    )  %>% 
    arrange(alg, n) #sortowanie

In [ ]:
avg_dplyr

Kolejność operacji w `summarise` ma znaczenie!

In [ ]:
# zamieniona kolejność mean i sd
results %>%
    group_by(n, alg) %>%
    summarise(
        time = mean(time),
        time_sd = sd(time) # sd jest liczone dla jednego wiersza po agregracji, stad NA w wynikach
    )  %>% 
    arrange(alg, n)

Wykres rysowany jak poprzednio

In [ ]:
ggplot(avg_dplyr, aes(n, time, color=alg)) + geom_point() + ylab("Computing time in seconds") + 
    geom_errorbar(aes(ymin = time-time_sd, ymax = time+time_sd, width=.25))

Przykład filtrowania i wybierania kolumn

In [ ]:
# wybieranie wierszy spełniających warunek
avg_dplyr %>% filter(alg=="t1")

In [ ]:
avg_dplyr

In [ ]:
# wybór kolumn
avg_dplyr %>% ungroup() %>% select(time, speed) %>% head()

In [ ]:
# usuwanie kolumn
avg_dplyr %>% select(-alg) %>% head()

## Zadanie

Za pomocą języka R przeanalizować dowolne dane z poprzednich laboratoriów. Elementy obowiązkowe:

1. W jednej tabeli języka R należy umieścić wyniki dwóch różnych eksperymentów (t.j. czas działania dwóch różnych funkcji) dla różnych parametrów (t.j. rozmiarów wektora(macierzy)). Tabela powinna zawierać dane z 10-krotnego uruchomienia tego samego eksperymentu dla tych samych parametrów (dla każdego takiego zestawu)  **(1p.)**
2. Należy przedstawić wykresy średnich czasów obliczenia wybranych funkcji w zależności od rozmiaru wektora (macierzy) **(1p.)**
3. Wykresy powinny zawierać informację o odchyleniu standardowym dla uzyskanych wyników (słupki błędów)  **(1p.)**